// run a user script file if present
exec config.cfg
exec autoexec.cfg

// stuff command line statements
stuffcmds


exec required.cfg


alias lavhud_initial "exec lavhud_initialize"
exec #lavhud_initial.txt
lavhud_initial


//run all the alias commands
exec lavhud.cfg